<h1>Checks</h1>

<%= form_for_filterrific @filterrific do |f| %>
  <div class="form-group">
    Search
    <%= f.text_field(:search_query, class: 'filterrific-periodically-observed form-control') %>
  </div>

  <div>
    <%= link_to('Reset filters', reset_filterrific_url, class: 'btn btn-primary') %>
  </div>
  <%#= render_filterrific_spinner %>
<% end %>
<br>
<%= render(partial: 'list', locals: { checks: @checks }) %>

<!--
<h3>Import a CSV File</h3>
  <%#= form_tag import_checks_path, multipart: true do %>
    <%#= file_field_tag :file %>
    <%#= submit_tag "Import CSV" %>
  <%# end %>
</div>
-->
